# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/API_Server/.env
/API_Server/node_modules
/WEB_Server/node_modules
/WEB_Server/.pnp
/WEB_Server/.pnp.js

# testing
/WEB_Server/coverage

# production
/WEB_Server/build

# misc
/WEB_Server/.DS_Store
/WEB_Server/.env.local
/WEB_Server/.env.development.local
/WEB_Server/.env.test.local
/WEB_Server/.env.production.local

/WEB_Server/npm-debug.log*
/WEB_Server/yarn-debug.log*
/WEB_Server/yarn-error.log*

/.vscode